/* Project users page */
.projectUsersContainer {
  display: flex;
  justify-content: center;
  margin-top: 75px;
  height: 100%;
}

.usersElement {
  width: 50vw;
  min-width: 600px;
}

.usersElement > h1,
.usersElement > h2,
.usersElement > h3 {
  margin-bottom: 3px;
}

/* Project phases page */

.project-phase-page-main {
  display: flex;
  top: 75px;
}

.project-phase-first-section {
  height: 100%;
  display: relative;
  position: fixed;
  left: 25px;
  top: 85px;
}

.time-line {
  display: flex;
  position: relative;
  list-style: none;
  min-height: 70px;
  left: -150px;
}

.project-phase-second-section {
  margin-left: 400px;
}

.project-phase-card-section {
  display: flex;
  flex-flow: row wrap;
  justify-self: center;
  max-width: 1300px;
}
