.projectcontent label {
  padding: 10px 5px;
  margin-right: 50px;
  font-size: 18px;
}
.projectcontent input {
  padding: 5px 5px;
  width: 15rem;
  font-size: 18px;
}

.customercontent label {
  padding: 10px 5px;
  margin-right: 50px;
  font-size: 18px;
  margin-top: 15px;
}
.customercontent input {
  padding: 5px 5px;
  width: 15rem;
  font-size: 18px;
  margin-top: 15px;
  margin-left: -18px;
}

.button1 {
  background-color: white;
  border: none;
  color: black;
  padding: 10px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 10px 10px;
  cursor: pointer;
}
.button2 {
  background-color: white;
  border: none;
  color: black;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 10px 10px;
  cursor: pointer;
  border: blanchedalmond;
}
.maincontent {
  text-align: center;
}

@media (max-width: 700px) {
  .customercontent input {
    margin-left: 0px;
  }
}
