.content label {
  padding: 5px 5px;
  margin-right: 50px;
  font-size: 18px;
}
.content input {
  padding-left: 5px;
  width: 15rem;
  font-size: 18px;
}

.button1 {
  background-color: white;
  border: none;
  color: black;
  padding: 10px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 10px 10px;
  cursor: pointer;
}
.button2 {
  background-color: white;
  border: none;
  color: black;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 10px 10px;
  cursor: pointer;
  border: blanchedalmond;
}
.maincontent {
  text-align: center;
}
