.project-content label {
  padding: 10px 5px;
  margin-right: 50px;
  font-size: 20px;
}
.project-content input {
  padding: 5px 5px;
  width: 15rem;
  font-size: 18px;
}

.customer-content label {
  padding: 10px 5px;
  margin-right: 50px;
  font-size: 20px;
  margin-top: 15px;
}
.customer-content input {
  padding: 5px 5px;
  width: 15rem;
  font-size: 18px;
  margin-top: 15px;
  margin-left: -21px;
}

.manager-content label {
  padding: 10px 5px;
  margin-right: 50px;
  font-size: 20px;
  margin-top: 15px;
}
.manager-content input {
  padding: 5px 5px;
  width: 15rem;
  font-size: 18px;
  margin-top: 15px;
  margin-left: -23px;
}

.cancel-button {
  background-color: white;
  border: none;
  color: black;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 20px 10px;
  cursor: pointer;
  border: 1px solid gray;
}
.create-button {
  background-color: white;
  border: none;
  color: black;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 20px 20px;
  cursor: pointer;
  border: blanchedalmond;
  border: 1px solid gray;
}
.main-content {
  text-align: center;
  background-color: white;
}

.plus-icon {
  border-radius: 50%;
  font-size: 1.2rem;
  font-weight: bold;
  background: none;
  border: none;
  vertical-align: middle;
  margin-right: 0px;
}

@media (max-width: 700px) {
  .custome-rcontent input {
    margin-left: 0px;
  }
  .manager-content input {
    margin-left: -23px;
  }
}
